{% extends "base.html" %}
{% block title %}RideViz{% endblock %}
{% block head %}
    {{ super() }}

    <script type="text/javascript" language="javascript" src="../static/DataTables-1.10.4/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../static/js/search.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript" language="javascript" src="../static/js/helper.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/tooltip.css">
    <link rel="stylesheet" type="text/css" href="../static/css/ridemeter.css">

    <script>
        function clickFirstRow() {
            //click the first entry after the label is loaded
            $('tr.odd:first-child').click();
        };

        //calling data to map
        $(document).ready(function(){
            var table = $('#rs_entries').DataTable({
                'ajax': {
                    'url': 'readjson',
                    'type': 'POST'
                },
                "order": [[ 5, "desc" ]],
                "bDeferRender": true,
                "bProcessing": false,
                "bStateSave": false,
                "iDisplayLength": 5,
                "bFilter": true,
                "bAutoWidth": false,
                "columns": [
                    { "data": 6, "orderable": false}, //,  "sWidth": "5%"
                    { "data": 9, "orderable": false},
                    { "data": 2, "orderable": false},
                    { "data": 3, "orderable": true},
                    { "data": 4, "orderable": true},
                    { "data": 5, "orderable": true},
                ],

                "fnInitComplete" : function (oSettings,json) {
                    // remove the loading pandas
                    //$('#loading').removeClass('work');
                    $("#rs_entries").on('click', 'tbody tr.odd, tbody tr.even', function( e ) {
                        //set the background color
                        $('#rs_entries').find('tbody tr').css('background-color', 'white');
                        $(this).css('background-color', 'rgba(70, 130, 180, 0.2)');

                        //remove any previous extra info tables and add in the new one
                        var table1 = $('#rs_entries').DataTable(); //row methods
                        var tr = $(this).closest('tr'); //return dom
                        var row1 = table1.row(tr); //return data
                        // debugger;

                        if ( row1.child.isShown() ) {
                            row1.child.hide();
                            tr.removeClass('shown');
                        }

                        $('tr.shown + tr').remove();
                        $('tr.shown').removeClass('shown');
                        row1.child(format(row1.data())).show();
                        tr.addClass('shown');


                        //get row data
                        var table2 = $('#rs_entries').dataTable();
                        var pos = table2.fnGetPosition(this);
                        var row2 = table2.fnGetData()[pos];
                        var mride = row2[0];
                        var cride = row2[1];
                        console.log(row2);
                        $.ajax({
                           'url' : '/getroutebyid',
                           'data' : JSON.stringify([cride, mride]),
                           'type' : 'POST',
                           'contentType' : 'application/json',
                           'success' : function(data) {
                                //disable button to get share ride
                                //until the current row of rides are registered
                                $("button").prop("disabled",true);
                                // Remove the route on the map and the shared moving path
                                if (typeof(cline) !== 'undefined') {
                                    click_to_remove();
                                }
                                console.log('Receive routes');

                                var json_data = JSON.parse(data);

                                var croute = parse_to_float(json_data[0]),
                                mroute = parse_to_float(json_data[1]);
                                //plot routes on map 2700, 2077
                                var m_len = mroute.length,
                                c_len = croute.length;
                                var mid_point = Math.round((m_len + c_len) / 4)
                                var longer_route;
                                if (mroute.length > croute.length) {
                                    longer_route = mroute;
                                } else {
                                    longer_route = croute;
                                }

                                window.cline = L.polyline(croute, {'color': 'blue',
                                                                'weight': 6}).addTo(map);
                                window.mline = L.polyline(mroute, {'color': 'green',
                                                                'weight': 6}).addTo(map);
                                map.setView(longer_route[mid_point], 13);

                                //blue is current, green is mathched
                                var start_blue = croute[0],
                                end_blue = croute[c_len - 1],
                                start_green = mroute[0],
                                end_green = mroute[m_len - 1];

                                var blue_attrs = {'color': 'blue', 'opacity': 0.8, 'radius': 5, 'fill': true, 'fillOpacity': 0.8},
                                green_attrs = {'color': 'green', 'opacity': 0.8, 'radius': 5, 'fill': true, 'fillOpacity': 0.8};

                                window.start_blue_mark = L.circleMarker(start_blue, blue_attrs).addTo(map);
                                window.end_blue_mark = L.circleMarker(end_blue, blue_attrs).addTo(map);

                                window.start_green_mark = L.circleMarker(start_green, green_attrs).addTo(map);
                                window.end_green_mark = L.circleMarker(end_green, green_attrs).addTo(map);

                                //make multiple popup open together
                                function marker_pop_bind(marker, content) {
                                    marker.bindPopup(content, {'closeButton': false,
                                                                'minWidth': 0,
                                                                'maxHeight': 20,
                                                                'closeOnClick': false});
                                    marker.openPopup();
                                }//marker_pop_bind
                                marker_pop_bind(start_blue_mark, '<div class="bluem">Start A</div>');
                                marker_pop_bind(end_blue_mark, '<div class="bluem">End A</div>');

                                marker_pop_bind(start_green_mark, '<div class="greenm">Start B</div>');
                                marker_pop_bind(end_green_mark, '<div class="greenm">End B</div>');
                                //re-enable button after the shared path has been set right
                                //to allow the moving path to be called again
                                $("button").prop("disabled",false);

                            }, //success
                           'error' : function(error) {
                               console.log('FML ' + error);
                           }
                        }); //end of ajax
                    }); //end of on click
                }, //end of fnInitComplete

                "fnPreDrawCallback" : function (OSettings){
                    clearClickedOnPage();
                },

                /////CALL BACK
                "fnDrawCallback" : function (oSettings){
                    hideLoading();
                    setTimeout(function(){
                        clickFirstRow();
                    }, 200);
                } // end of fnDrawCallback
                /////

            }); //end of datatable (just before ready document)

            // Score filter(custom function in search.js) and show the loading icon
            $('#searchScoreBtn').on('click', function() {
                // clearClickedOnPage();
                showLoading();
                setTimeout(function() {table.draw();}, 200);
            });
            // Make sure all search buttons remain black after clicked
            $('.searchBtn').on('click', function () {$(this).css('background-color', 'black');});

            //Removing the general search box without disabling filter
            //(we all know how painful that can be)
            $('#rs_entries_filter').remove()
            //remove the show 10 entries drop down
            $('.dataTables_length').remove();
            $('.tooltipHeader').tooltip();

        }); //document ready end
        //add ride share moving path
        function get_ride_share() {
            movingPath('return_ride_share');
        }
    </script>
{% endblock %}

{% block content %}
    <div id='map'></div>
    <div id="tab">
        <div id='searchDiv'>
            <div id="titleRideShare">
                <h2>Find Ride Shares By:</h2>
                <!-- <button onClick="get_ride_share()" type="submit" name="submit" class="btn btn-danger route_btn" disabled>Ride Share</button> -->
            </div>
            <div></div>
            <table id='searchBtnTab'>
                 <tr>
                    <td class='searchTerm'>Ride Share Score<br><p class='smallPrint'>Bigger Score = Better Ride (1- 100)</p></td>

                    <td><input type="text" id="min" name="min" class='searchBox form-control' maxlength='4' placeholder='MIN'></td>
                    <td><input type="text" id="max" name="max" class='searchBox form-control' maxlength='4' placeholder='MAX'></td>
                    <td> <button class="btn btn-warning searchBtn" id="searchScoreBtn">Go</button> </td>
                    <td><div id="loading"><img src="../static/images/loading.png" id="loadImg"></div></td>

                </tr>

<!--                 <tr>
                    <td><input type="text" id="min" name="min" class='searchBox form-control' maxlength='4'></td>
                    <td class='searchTerm'><&nbsp Ride Share Score &nbsp< </td>
                    <td><input type="text" id="max" name="max" class='searchBox form-control' maxlength='4'></td>
                    <td></td>
                    <td> <button class="btn btn-warning searchBtn" id="searchScoreBtn">Go</button> </td>
                    <td><div id="loading"><img src="../static/images/loading.png" id="loadImg"></div></td>

                </tr>
 -->            </table>
        </div>
        <table id='rs_entries' class='table display' cellspacing="0">
            <thead>
                <tr>
                    <th>
                        <p><a class="tooltipHeader" data-toggle="tooltip" data-placement="top"
                         title="Location of first pick up">
                            Origin
                        </a></p>
                    </th>
                    <th>
                        <p><a class="tooltipHeader" data-toggle="tooltip" data-placement="top"
                         title="Location of last drop off">
                            Destination
                        </a></p>
                    </th>
                    <th>
                        <p><a class="tooltipHeader" data-toggle="tooltip" data-placement="top"
                         title="Miles saved upon ride share">
                            Miles<br>Saved
                        </a></p>
                    </th>
                    <th>
                        <p><a class="tooltipHeader" data-toggle="tooltip" data-placement="top"
                         title="Extra time taken to arrive at destination">
                            Delay
                        </a></p>
                    </th>
                    <th>
                        <p><a class="tooltipHeader" data-toggle="tooltip" data-placement="top"
                         title="Money saved overall upon ride share">
                            Fare<br>Saved
                        </a></p>
                    </th>
                    <th>
                        <p><a class="tooltipHeader" data-toggle="tooltip" data-placement="top"
                         title="How worthwhile the ride sharing is">
                            Score
                        </a></p>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block add_script %}
   <script>
        L.Map = L.Map.extend({
            openPopup: function(popup) {
                //        this.closePopup();  // just comment this
                this._popup = popup;

                return this.addLayer(popup).fire('popupopen', {
                    popup: this._popup
                });
            }
        }); /***  end of hack ***/
        var man_center = [40.77644678131695, -73.97214889526367];
        var man_northEast = [40.79269390809278, -73.94210815429688],
        man_southWest = [40.760195680104694, -74.00218963623047],
        man_bounds = [man_southWest, man_northEast];

        map = new L.Map('map', {center: man_center,  minZoom: 12, maxZoom: 16, detectRetina: true}); //, maxBounds: man_bounds
        osmTile = "http://tile.openstreetmap.org/{z}/{x}/{y}.png";
        osmCopyright = "Map data &copy; 2012 OpenStreetMap contributors";
        osmLayer = new L.TileLayer(osmTile, {attribution: osmCopyright,
         opacity: 0.8}); //, bounds: man_bounds
        map.addLayer(osmLayer);
        map.setView(man_center, 13);
    </script>
{% endblock %}

