{% extends "base.html" %}
{% block title %}RideViz{% endblock %}
{% block head %}
    {{ super() }}
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
   
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <script>
        function parse_to_float(data) {
            var lst = [];
            for (var i=0; i < data.length; i++) {
                lst.push(data[i].map(parseFloat));
            }
            return lst
        }

        function click_to_remove() {
            map.removeLayer(cline);
            map.removeLayer(mline);
            map.removeLayer(start_blue_mark);
            map.removeLayer(end_blue_mark);
            map.removeLayer(start_green_mark);
            map.removeLayer(end_green_mark);
            $('.leaflet-zoom-hide').remove()
        }


        /* Custom filtering function which will search data in column four between two values */
        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                var min = parseInt( $('#min').val(), 10 );
                var max = parseInt( $('#max').val(), 10 );
                var miles_saved = parseFloat( data[3] ) || 0; // use data for the age column
         
                if ( ( isNaN( min ) && isNaN( max ) ) ||
                     ( isNaN( min ) && miles_saved <= max ) ||
                     ( min <= miles_saved   && isNaN( max ) ) ||
                     ( min <= miles_saved   && miles_saved <= max ) )
                {
                    return true;
                }
                return false;
            }
        );

        //calling data to map
        $(document).ready(function(){
            $('#rs_entries').DataTable({
                'ajax': {
                    'url': 'readjson',
                    'type': 'POST'
                },
                "bFilter": false,
                "bAutoWidth": false,
                "columns": [
                    {
                        "class":  'details-control',
                        "orderable":      false,
                        "data":           null,
                        "defaultContent": ''
                    },
                    { "data": 0, "orderable": false},
                    { "data": 1, "orderable": false},
                    { "data": 2 },
                    { "data": 3 },
                    { "data": 4 },
                    { "data": 5 },
                    { "data": 6 },

                ],
                "order": [[1, 'asc']],
                // // "columnDefs": [
                //     {"targets": [0],
                //     "visible": false,
                //     "searchable": true},
                //     {"targets": [1],
                //     "visible": false,
                //     "searchable":true}
                // ],
                "fnInitComplete" : function (oSettings,json) {
                    $("#rs_entries").on('click', 'tr', function( e ) {
                        $('#rs_entries').find('tr').css('background-color', 'white');
                        $(this).css('background-color', 'rgba(70, 130, 180, 0.1)');
                        var table = $('#rs_entries').dataTable();
                        var pos = table.fnGetPosition(this);
                        var row = table.fnGetData()[pos];
                        var mride = row[0];
                        var cride = row[1];
                        console.log(row);
                        $.ajax({
                           'url' : '/getroutebyid',
                           'data' : JSON.stringify([cride, mride]),
                           'type' : 'POST',
                           'contentType' : 'application/json',
                           'success' : function(data) {
                                //disable button to get share ride 
                                //still the last shared ride, hasn't been updated
                                $("button").prop("disabled",true);
                                // Remove the route on the map
                                if (typeof(cline) !== 'undefined') {
                                    click_to_remove();
                                    //remove shared ride as well
                                }

                                console.log('Receive routes');
                                var json_data = JSON.parse(data);
                                var croute = parse_to_float(json_data[0]),
                                mroute = parse_to_float(json_data[1]);
                                //plot routes on map 2700, 2077
                                var m_len = mroute.length,
                                c_len = croute.length;
                                var mid_point = Math.round((m_len + c_len) /2)
                                if (mroute.length > croute.length) {
                                    var longer_route = mroute;
                                } else {
                                    var longer_route = croute;
                                }
                                window.cline = L.polyline(croute, {'color': 'blue', 
                                                                'weight': 6}).addTo(map);
                                window.mline = L.polyline(mroute, {'color': 'green', 
                                                                'weight': 6}).addTo(map);
                                map.setView(longer_route[mid_point], 12);

                                //blue is current, green is mathched
                                var start_blue = croute[0],
                                end_blue = croute[c_len - 1],
                                start_green = mroute[0],
                                end_green = mroute[m_len - 1];

                                var blue_attrs = {'color': 'blue', 'opacity': 0.8, 'radius': 5, 'fill': true, 'fillOpacity': 0.8},
                                green_attrs = {'color': 'green', 'opacity': 0.8, 'radius': 5, 'fill': true, 'fillOpacity': 0.8};

                                window.start_blue_mark = L.circleMarker(start_blue, blue_attrs).addTo(map);
                                window.end_blue_mark = L.circleMarker(end_blue, blue_attrs).addTo(map);

                                window.start_green_mark = L.circleMarker(start_green, green_attrs).addTo(map);
                                window.end_green_mark = L.circleMarker(end_green, green_attrs).addTo(map);


                                //make multiple popup open together
                                function marker_pop_bind(marker, content) {
                                    marker.bindPopup(content, {'closeButton': false, 
                                                                'minWidth': 0,
                                                                'maxHeight': 20,
                                                                'closeOnClick': false});
                                    marker.openPopup();
                                }//marker_pop_bind

                                marker_pop_bind(start_blue_mark, '<div class="bluem">Start 1</div>');
                                marker_pop_bind(end_blue_mark, '<div class="bluem">End 1</div>');

                                marker_pop_bind(start_green_mark, '<div class="greenm">Start 2</div>');
                                marker_pop_bind(end_green_mark, '<div class="greenm">End 2</div>');
                                //re-enable button after the shared path has been set right 
                                //to allow the moving path to be called again
                                $("button").prop("disabled",false);

                            }, //success
                           'error' : function(error) {
                               console.log('FML ' + error);
                           }
                        }); //end of ajax
                    }); //end of on click
                }, //end of fnInitComplete
            }); //end of datatable (just before ready document)
            //remove the show 10 entries drop down
            $('.dataTables_length').remove()

            
            //add hidden details row
            $('#rs_entries tbody').on('click', 'td.details-control', function () {
                // var table = $('#rs_entries').dataTable(); //fnGet methods
                // var pos = table.fnGetPosition(this)[0]
                // var data_dict = table.fnGetData(pos)
                console.log('sddsd');
                var table = $('#rs_entries').DataTable(); //row methods
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var rows = table.row();
                function format (d) {
                    // `d` is the original data object for the row
                    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                        '<tr>'+
                            '<td>Full name:</td>'+
                            '<td>'+ d[7] +'</td>'+
                        '</tr>'+
                        '<tr>'+
                            '<td>Extension number:</td>'+
                            '<td>'+ d[8] +'</td>'+
                        '</tr>'+
                        '<tr>'+
                            '<td>Extra info:</td>'+
                            '<td>' + d[9] + '</td>'+
                        '</tr>'+
                    '</table>';
                }

                
                if ( row.child.isShown() ) {
                    // This row is already open - close it

                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    $('tr.shown + tr').remove()
                    $('tr.shown').removeClass('shown')
                    row.child( format(row.data()) ).show();
                    tr.addClass('shown');
                }
            });
        });
        //add ride share moving path
        function get_ride_share() {
            movingPath('return_ride_share');
        }

    </script>
    <style>
        #map {
            height: 450px;
            width: 600px;
            float: left;
        }

        .table {
            width: 100%;
            height: 100%;
        }
        .table tbody tr.even:hover,
        .table tbody tr.odd:hover{
            cursor: pointer;
            background-color: rgb(0, 0, 0);
            background-color: rgba(70, 130, 180, 0.1) !important; 
        }
        .main_container {
            width: 1250px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: auto ;
            margin-right: auto ;
        }
        tr td {
            font-size: 11px;
            text-align: center;
        }
        tr td:nth-child(2) {
            font-weight: bold;
            color: #00688B;
            opacity: 0.6;  
        }
        tr td:nth-child(3) {
            font-weight: bold;
            color: #009900;            
            opacity: 0.6;  
        }
        th {
            text-align: center;
            font-size: 11px;
        }
        .dataTables_info {
            font-size: 11px;
            opacity: 0.4;
        }
        div.dataTables_paginate ul.pagination {
            margin: 0px 0px 0px -100px;
        }
        .pagination>li>a, .pagination>li>span {
            padding: 4px 9px;
            font-size: 11px;
        }
        #tab { /* table div container */
            float: left;
            margin-left: 50px;
        }
        .bluem, .greenm {
            font-weight: bold;
        }
        .bluem {
            color: #00688B;
        }
        .greenm {
            color: #009900;
        }

        .leaflet-popup-content-wrapper,
        .leaflet-popup-tip {
            box-shadow: 0;
            opacity: 0.6;
            height: 20px;
            padding-top: 0;
        }

        .leaflet-popup-tip {
            width: 5px;
        }
        .route_btn {
            margin-left: 220px;
            margin-top: 20px;
            float: left;
            font-size: 16px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #FF3333;
            opacity: 0.9;
            letter-spacing: 1px;
        }

        td.details-control {
            background: url('../static/images/details_open.png') no-repeat center center;
            cursor: pointer;
            background-size: 50% 65%;
        }
        tr.shown td.details-control {
            background: url('../static/images/details_close.png') no-repeat center center;
            background-size: 50% 65%;
        }
        .table>thead>tr>th, .table>tbody>tr>th,
        .table>tfoot>tr>th, .table>thead>tr>td,
         .table>tbody>tr>td, .table>tfoot>tr>td {
            padding: 6px;
         }

    </style>
{% endblock %}

{% block content %}
    <div id='map'></div>
    <div id="tab">
        <table id='rs_entries' class='table display' cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Current<br>Ride</th>
                    <th>Matched<br>Ride</th>
                    <th>Time<br>(am)</th>
                    <th>Miles<br>Saved</th>
                    <th>Extra<br>Time</th>
                    <th>Money<br>Saved</th>
                    <th>RideShare<br>Score</th>
                </tr>
          </thead>

        </table>
    </div>
    <div>
        <button onClick="get_ride_share()" type="submit" name="submit" class="btn btn-danger route_btn" disabled>Ride Share&nbsp!</button>
    </div>
{% endblock %}

{% block add_script %}
   <script>
        L.Map = L.Map.extend({
            openPopup: function(popup) {
                //        this.closePopup();  // just comment this
                this._popup = popup;

                return this.addLayer(popup).fire('popupopen', {
                    popup: this._popup
                });
            }
        }); /***  end of hack ***/
        var man_center = [40.77644678131695, -73.97214889526367];
        var man_northEast = [40.79269390809278, -73.94210815429688],
        man_southWest = [40.760195680104694, -74.00218963623047],
        man_bounds = [man_southWest, man_northEast];

        map = new L.Map('map', {center: man_center,  minZoom: 12, maxZoom: 16, detectRetina: true}); //, maxBounds: man_bounds
        osmTile = "http://tile.openstreetmap.org/{z}/{x}/{y}.png";
        osmCopyright = "Map data &copy; 2012 OpenStreetMap contributors";
        osmLayer = new L.TileLayer(osmTile, {attribution: osmCopyright, opacity: 0.8}); //, bounds: man_bounds
        map.addLayer(osmLayer);
        map.setView(man_center, 13);
    </script>
{% endblock %}

