{% extends "base.html" %}
{% block title %}RideViz{% endblock %}
{% block head %}
    {{ super() }}
        <script type="text/javascript" language="javascript" src="../static/DataTables-1.10.4/media/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="../static/js/search.js"></script>
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">

    <script type="text/javascript" language="javascript" class="init">

        function parse_to_float(data) {
            var lst = [];
            for (var i=0; i < data.length; i++) {
                lst.push(data[i].map(parseFloat));
            }
            return lst
        }

        function click_to_remove() {
            map.removeLayer(cline);
            map.removeLayer(mline);
            map.removeLayer(start_blue_mark);
            map.removeLayer(end_blue_mark);
            map.removeLayer(start_green_mark);
            map.removeLayer(end_green_mark);
            $('.leaflet-zoom-hide').remove()
        }


        //calling data to map
        $(document).ready(function(){  
            var table = $('#rs_entries').DataTable({
                'ajax': {
                    'url': 'readjson',
                    'type': 'POST'
                },
                "bDeferRender": true,
                "bProcessing": false,
                "bStateSave": true,
                "iDisplayLength": 5,
                "bFilter": true,
                "bAutoWidth": false,
                "columns": [
                    { "data": 6, "orderable": false},
                    { "data": 7, "orderable": false },
                    { "data": 2, "orderable": false },
                    { "data": 3, "orderable": true },
                    { "data": 4, "orderable": true },
                    { "data": 5, "orderable": true },

                ],
                "fnInitComplete" : function (oSettings,json) {
                    // remove the loading pandas
                    $('#loading').removeClass('work');
                    $("#rs_entries").on('click', 'tbody tr', function( e ) {
                        //set the background color
                        $('#rs_entries').find('tbody tr').css('background-color', 'white');
                        $(this).css('background-color', 'rgba(70, 130, 180, 0.2)');
                        
                        //remove any previous extra info tables and add in the new one
                        var table1 = $('#rs_entries').DataTable(); //row methods
                        var tr = $(this).closest('tr'); //return dom
                        var row1 = table1.row(tr); //return data
                        function format (d) {
                            // `d` is the original data object for the row
                            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="rendered">'+
                                '<tr>'+
                                    '<td>Full name:</td>'+
                                    '<td>'+ d[6] +'</td>'+
                                    '<td><button onClick="get_ride_share()" type="submit" name="submit" class="btn btn-danger route_btn" disabled>Ride Share</button></td>'+
                                '</tr>'+
                                '<tr>'+
                                    '<td>Extension number:</td>'+
                                    '<td>'+ d[7] +'</td>'+
                                '</tr>'+
                            '</table>';
                        }
                        
                        if ( row1.child.isShown() ) {
                            row1.child.hide();
                            tr.removeClass('shown');
                        }
                   
                        $('tr.shown + tr').remove();
                        $('tr.shown').removeClass('shown');
                        row1.child( format(row1.data()) ).show();
                        tr.addClass('shown');
                        

                        //get row data
                        var table2 = $('#rs_entries').dataTable();
                        var pos = table2.fnGetPosition(this);
                        var row2 = table2.fnGetData()[pos];
                        var mride = row2[0];
                        var cride = row2[1];
                        console.log(row2);
                        $.ajax({
                           'url' : '/getroutebyid',
                           'data' : JSON.stringify([cride, mride]),
                           'type' : 'POST',
                           'contentType' : 'application/json',
                           'success' : function(data) {
                                //disable button to get share ride 
                                //until the current row of rides are registered
                                $("button").prop("disabled",true);
                                // Remove the route on the map and the shared moving path
                                if (typeof(cline) !== 'undefined') {
                                    click_to_remove();
                                }
                                console.log('Receive routes');
                                var json_data = JSON.parse(data);
                                var croute = parse_to_float(json_data[0]),
                                mroute = parse_to_float(json_data[1]);
                                //plot routes on map 2700, 2077
                                var m_len = mroute.length,
                                c_len = croute.length;
                                var mid_point = Math.round((m_len + c_len) /2)
                                var longer_route;
                                if (mroute.length > croute.length) {
                                    longer_route = mroute;
                                } else {
                                    longer_route = croute;
                                }
                                window.cline = L.polyline(croute, {'color': 'blue', 
                                                                'weight': 6}).addTo(map);
                                window.mline = L.polyline(mroute, {'color': 'green', 
                                                                'weight': 6}).addTo(map);
                                map.setView(longer_route[mid_point], 12);
                                //blue is current, green is mathched
                                var start_blue = croute[0],
                                end_blue = croute[c_len - 1],
                                start_green = mroute[0],
                                end_green = mroute[m_len - 1];

                                var blue_attrs = {'color': 'blue', 'opacity': 0.8, 'radius': 5, 'fill': true, 'fillOpacity': 0.8},
                                green_attrs = {'color': 'green', 'opacity': 0.8, 'radius': 5, 'fill': true, 'fillOpacity': 0.8};

                                window.start_blue_mark = L.circleMarker(start_blue, blue_attrs).addTo(map);
                                window.end_blue_mark = L.circleMarker(end_blue, blue_attrs).addTo(map);

                                window.start_green_mark = L.circleMarker(start_green, green_attrs).addTo(map);
                                window.end_green_mark = L.circleMarker(end_green, green_attrs).addTo(map);

                                //make multiple popup open together
                                function marker_pop_bind(marker, content) {
                                    marker.bindPopup(content, {'closeButton': false, 
                                                                'minWidth': 0,
                                                                'maxHeight': 20,
                                                                'closeOnClick': false});
                                    marker.openPopup();
                                }//marker_pop_bind
                                marker_pop_bind(start_blue_mark, '<div class="bluem">Start 1</div>');
                                marker_pop_bind(end_blue_mark, '<div class="bluem">End 1</div>');

                                marker_pop_bind(start_green_mark, '<div class="greenm">Start 2</div>');
                                marker_pop_bind(end_green_mark, '<div class="greenm">End 2</div>');
                                //re-enable button after the shared path has been set right 
                                //to allow the moving path to be called again
                                $("button").prop("disabled",false);

                            }, //success
                           'error' : function(error) {
                               console.log('FML ' + error);
                           }
                        }); //end of ajax
                    }); //end of on click
                }, //end of fnInitComplete
            }); //end of datatable (just before ready document)
            // Score filter(custom function in search.js) and show the loading icon
            $('#searchScoreBtn').on('click', function() {
                $('#loading').addClass('work');
                setTimeout(function() {
                    try {
                        table.draw();
                    }
                    finally {
                        $('#loading').removeClass('work');
                    }
                }, 100);
            });
            $('th.sorting').on('click', function() {
                setTimeout(function(){
                    $('#loading').removeClass('work');
                }, 200);
            });

            //Removing the general search box without disabling filter (we all know how painful that can be)
            $('#rs_entries_filter').remove()
            //remove the show 10 entries drop down
            $('.dataTables_length').remove();
            //Setting good spacing for search buttons
            $('#searchBtnTab td, #searchBtnTab th').css('padding', '10px');
            //searchbutton
            $('.searchBtn').on('click', function () {$(this).css('background-color', 'black');} );
        }); //document ready end
        //add ride share moving path
        function get_ride_share() {
            movingPath('return_ride_share');
        } 
    </script>
    <style>
        #map {
            height: 450px;
            width: 570px;
            float: left;
            margin-left: 30px;
        }

        .table {
            width: 100%;
            height: 100%;
        }
        .table tbody tr.even:hover,
        .table tbody tr.odd:hover{
            cursor: pointer;
            background-color: rgb(0, 0, 0);
            background-color: rgba(70, 130, 180, 0.1) !important; 
        }
        .main_container {
            width: 1250px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: auto ;
            margin-right: auto ;
        }
        table.dataTable thead .sorting_asc, 
        table.dataTable thead .sorting_desc {
            background: none;
        }
        tr td {
            font-size: 12px;
            text-align: center;
        }
        th {
            text-align: center;
            font-size: 12px;
        }
        .dataTables_info {
            font-size: 12px;
            opacity: 0.4;
            width: 30px;
        }
        div.dataTables_paginate ul.pagination {
            margin: 5px 0px 0px -100px;
        }
        .pagination>li>a, .pagination>li>span {
            padding: 4px 9px;
            font-size: 12px;
        }
        #tab { /* table div container */
            float: left;
            margin-left: 30px;
        }
        .bluem, .greenm {
            font-weight: bold;
        }
        .bluem {
            color: #00688B;
        }
        .greenm {
            color: #009900;
        }

        .leaflet-popup-content-wrapper,
        .leaflet-popup-tip {
            box-shadow: 0;
            opacity: 0.6;
            height: 20px;
            padding-top: 0;
        }

        .leaflet-popup-tip {
            width: 5px;
        }
        .table>thead>tr>th, .table>tbody>tr>th,
        .table>tfoot>tr>th, .table>thead>tr>td,
        .table>tbody>tr>td, .table>tfoot>tr>td {
            padding: 8px;
        }

        .searchBox {
            height: 25px;
            font-size: 14px;
            width: 60px;
            font-weight: normal;
            color: black;
        }
        .searchBtn {
            letter-spacing: 1px;
            font-size: 12px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: black;
            border-color: black;
            font-weight: bold;
        }
        .searchBtn:hover {
            background-color: black;
            border-color: #BEBEBE;
        }
        td.searchTerm {
            font-size: 15px;
            color: #383838;
            opacity: 0.7;
        }
        h2{
            margin-top: 0px;
            margin-bottom: 20px;
            text-align: left;
            float: left;
        }
        .route_btn {
            margin-left: 170px;
            margin-top: 10px;
            float: left;
            font-size: 16px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #FF3333;
            opacity: 0.9;
            letter-spacing: 1px;
        }
        #titleRideShare{
            width: 600px;
        }
/*        #searchBtnTab {
            margin-left: 15px;
            margin-bottom: 10px;
        }
*/      #loading {
            visibility: hidden;
        }
        #loading.work {
            visibility: visible;
        }

        #loadImg {
            width:60%;
            height:50%;
        }

    </style>
{% endblock %}

{% block content %}
    <div id='map'></div>
    <div id="tab">
        <div id='searchDiv'>
            <div id="titleRideShare">
                <h2>Find Ride Shares By:</h2>
                <button onClick="get_ride_share()" type="submit" name="submit" class="btn btn-danger route_btn" disabled>Ride Share</button>
            </div>

            <table id='searchBtnTab'>
                 <tr>
                    <td><input type="text" id="min" name="min" class='searchBox form-control' maxlength='4'></td>                    
                    <td class='searchTerm'><&nbsp Ride Share Score &nbsp< </td>
                    <td><input type="text" id="max" name="max" class='searchBox form-control' maxlength='4'></td>
                    <td></td>
                    <td> <button class="btn btn-warning searchBtn" id="searchScoreBtn">Go</button> </td>
                    <td><div id="loading"><img src="../static/images/loading.png" id="loadImg"></div></td>

                </tr>

<!--                 <tr>
                    <td><input type="text" id="min" name="min" class='searchBox form-control' maxlength='4'></td>                    
                    <td class='searchTerm'><&nbsp Ride Share Score &nbsp< </td>
                    <td><input type="text" id="max" name="max" class='searchBox form-control' maxlength='4'></td>
                    <td></td>
                    <td> <button class="btn btn-warning searchBtn" id="searchScoreBtn">Go</button> </td>
                    <td><div id="loading"><img src="../static/images/loading.png" id="loadImg"></div></td>

                </tr>
 -->            </table>
        </div>
        <table id='rs_entries' class='table display' cellspacing="0">
            <thead>
                <tr>
                    <th><p>Start<br>Point</p></th>
                    <th><p>End<br>Point</p></th>
                    <th><p>Miles<br>Saved</p></th>
                    <th><p>Extra<br>Time</p></th>
                    <th><p>Money<br>Saved</p></th>
                    <th><p>RideShare<br>Score</p></th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block add_script %}
   <script>
        L.Map = L.Map.extend({
            openPopup: function(popup) {
                //        this.closePopup();  // just comment this
                this._popup = popup;

                return this.addLayer(popup).fire('popupopen', {
                    popup: this._popup
                });
            }
        }); /***  end of hack ***/
        var man_center = [40.77644678131695, -73.97214889526367];
        var man_northEast = [40.79269390809278, -73.94210815429688],
        man_southWest = [40.760195680104694, -74.00218963623047],
        man_bounds = [man_southWest, man_northEast];

        map = new L.Map('map', {center: man_center,  minZoom: 12, maxZoom: 16, detectRetina: true}); //, maxBounds: man_bounds
        osmTile = "http://tile.openstreetmap.org/{z}/{x}/{y}.png";
        osmCopyright = "Map data &copy; 2012 OpenStreetMap contributors";
        osmLayer = new L.TileLayer(osmTile, {attribution: osmCopyright, opacity: 0.8}); //, bounds: man_bounds
        map.addLayer(osmLayer);
        map.setView(man_center, 13);
    </script>
{% endblock %}

